root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none
